#promo {
  text-align: center;
  background: url(../../main/img/1498285404_sankt-peterburg-piter-luchshie-krasivye-foto-s-drona-2016-2017-hd-v-horoshem-kachestve-st.-petersburg-peters-best-beautiful-photos-from-the-drone.-zenith-arena-3.jpg) no-repeat;
  background-size: cover;
}

#promo .jumbotron {
  border-radius: 25px;
  padding: 40px;
  background-color: rgba(255,255,255,0.5);
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

.site-section {
  text-align: center;
  padding: 60px 0;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

.par {
  font-family: sans-serif;
}

#text1 {
  text-align: center;
}

#bor {
  border-radius: 10px 10px 10 px;
}

#button {
  background-color: rgb(85,150,197);
}

.text-left.shadow-lg {
  margin-bottom: 70px;
}

#text1 {
  text-shadow: 1px 1px 2px black, 0 0 1em red;
  color: white;
}

.copyright.text-muted.text-center {
  color: rgb(239,255,240);
}

.copyright.text-dark.text-center {
  font-size: 20px;
}

.navbar-light .navbar-brand {
  font-size: 40px;
  margin-top: 0px;
}