<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <title>Safety map</title>
  <!-- VueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>

  <!-- Yandex Map -->
  <script src="https://api-maps.yandex.ru/2.1/?apikey=e70694c3-ce7f-4459-b7f6-be3d53e2cc8e&lang=ru_RU" type="text/javascript"></script>
  <script src="https://yastatic.net/s3/mapsapi-jslibs/heatmap/0.0.1/heatmap.min.js" type="text/javascript"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body style="background-color: #e8e8e8;">
    <div id="app">

        <center>
            <div style="background-color: white; border-radius: 40px; border: darkgrey solid 1px; border-radius: 40px; padding: 20px;">
                <label for="light" style="color: black; font-weight: 600;">Концентрация ДТП:</label>
                <div class="border primary-border" id="map" style="width: 800px; height: 600px"></div>
            </div>
        </center>
    </div>

  <!-- Vue scripts -->
  <script>
    Vue.options.delimiters = ['[[', ']]'];

    var app = new Vue({
        el: '#app',

        data: {
            // for maps
            placemarks: {
                "type": "FeatureCollection",
                "features": [
                    {
                        type: "Feature",
                        id: 1,
                        geometry: {
                            type: "Point",
                            coordinates: [55.32665201784720, 50.43419227335784]
                        }
                    },

                    {
                        type: "Feature",
                        id: 2,
                        geometry: {
                            type: "Point",
                            coordinates: [55.32665201784718, 50.43419227335782]
                        }
                    },

                    {
                        type: 'Feature',
                        id: 3,
                        geometry: {
                            type: 'Point',
                            coordinates: [56.23, 34.79]
                        },
                        properties: {
                            hintContent: 'Содержание всплывающей подсказки',
                            balloonContent: 'Содержание балуна'
                        }
                    }   
                ],
            },
            myMap: null,
            objectManager: null
        },

        created() {
            // когда карта готова
            ymaps.ready(() => {
                // инициализируем карту
                this.myMap = new ymaps.Map("map", { // id блока
                    center: [55.32665201784719, 50.43419227335783], // координаты центра
                    zoom: 7,
                    controls: ['zoomControl'], // какие панельки нужны (только зум)
                    behaviors: ['drag', 'scrollZoom'] // какие методы разрешить
                }, {
                    searchControlProvider: 'yandex#search'
                })

                // инициализируем менеджер объектов (1 из 3 способов работы с 2к+ объектов)
                // если меньше - можно без него, но и так не сложно
                this.objectManager = new ymaps.ObjectManager({
                    clusterize: true,
                    gridSize: 32,
                    clusterDisableClickZoom: true
                })
                // закидываем в него объекты и указываем иконки
                this.objectManager.objects.options.set('preset', 'islands#redDotIcon')
                this.objectManager.clusters.options.set('preset', 'islands#redClusterIcons')
                this.objectManager.add(this.placemarks)
                // вешаем на карту менеджер объектов
                this.myMap.geoObjects.add(this.objectManager)

                // вешаем листнер кликов на точки на карте
                this.myMap.geoObjects.events.add('click', function (e) {
                    // получаем id марки, на которую нажали
                    let target = e.get('objectId');

                    // если нажали на кластер
                    const cluster = this.objectManager.clusters.getById(target)
                    if (cluster) {
                        // получаем все объекты кластера
                        const objects = cluster.properties.geoObjects
                    }
                })
            })
        }
    }) 
  </script>
</body>