<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>our team</title>
    <link rel="stylesheet" href="{% static 'main/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'main/bootstrap1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="{% static 'main/fonts1/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css1/styles.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-dark navbar-expand-md" 
  style="
    background-color: #3E3F3A !important;
    line-height: 1.4285em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 40px;">
            <i class="fas fa-car-crash"></i>
            <strong>Safety </strong>Map
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto" style="filter: hue-rotate(0deg) sepia(0%);margin: 100;">
                <li class="nav-item" role="presentation"><a class="nav-link" href="http://127.0.0.1:8000" style="font-size: 20px; text-transform: none;">Главная страница</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="http://127.0.0.1:8000/about_project" style="font-size: 20px; text-transform: none;">О проекте</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="http://127.0.0.1:8000/statistic" style="font-size: 20px; text-transform: none;">Статистика</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="http://127.0.0.1:8000/map?logged=" style="font-size: 20px; text-transform: none;">Карта</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="font-size: 20px; text-transform: none;">О нас</a></li>
            </ul>
    </div>
    </div>
  </nav>

    <section id="team" class="card-section-imagia">
        <h1>Our team</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067"></div>
                                <div class="user-imagia"><img class="border rounded-circle img-circle" alt="" src="{% static 'main/img1/photo_2020-08-19_12-28-49.jpg' %}" height="100%"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Леонид</h3>
                                    <p class="subtitle-imagia">FULL DE</p>
                                    <p class="text-center"><em>Data-sientist, Mlearning </em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Леонид</h3>
                                        <p class="text-center"> Тот самый молодой и талантливый специалист в области машинного обучения.Интересуется хорошим чаем и data-sience. По гороскопу Лев </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="{% static 'main/img1/sky6.jpg' %}"></div>
                                <div class="user-imagia"><img class="border rounded-circle img-circle" alt="" src="{% static 'main/img1/pas_photo.jpg' %}"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Никита</h3>
                                    <p class="subtitle-imagia">FULL DEV</p>
                                    <p class="text-center"><em>Мастер владения своим python, ярый адепт VueJS.</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Никита</h3>
                                        <p class="text-center">Разработка django-приложений на коленке, поднятие серверов баз данных по телефону, вывод в прод по фотографии. По гороскопу Рыбы.</p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="{% static 'main/img1/sky5.jpg' %}"></div>
                                <div class="user-imagia"><img class="border rounded-0 img-circle" alt="" src="{% static 'main/img1/photo_2020-08-20_13-08-45.jpg' %}"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Илья</h3>
                                    <p class="subtitle-imagia">DESIGNER</p>
                                    <p class="text-center"><em>Фронтэндер со стажем </em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Илья</h3>
                                        <p class="text-center">Помимо web-design любит баскетбол и кофе. По гороскопу Лев </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia"><img alt="" src="{% static 'main/img1/sky1.jpg' %}"></div>
                                <div class="user-imagia"><img class="border rounded img-circle" alt="" src="{%static 'main/img1/vlada.jpg' %}"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Vladislava Pink</h3>
                                    <p class="subtitle-imagia">DESIGNER</p>
                                    <p class="text-center"><em> Дизайнер с чувством прекрасного</em></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Vladislava Pink</h3>
                                        <p class="text-center">Влада окончила курсы дизайнера, благодаря ей наш проект стал таким органичным. По гороскопу Скорпион </p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="footer-dark" style="padding: 0px 0px;">
        <footer>
            <div class="container">
                    <div class="col-md-12 col-sm-4 item social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://t.me/lamer_notes"><i class="fab fa-telegram-plane"></i></a>
                        <a id="inst" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                    </div>
                <p class="copyright">CVD Team 2020</p>
            </div>
        </footer>
      </div>

    <script src="{% static 'main/js1/jquery.min.js' %}"></script>
    <script src="{% static 'main/bootstrap1/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'main/js1/script.min.js' %}"></script>
</body>

</html>