<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>safety-map</title>
    {% load static %}
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="{% static 'main/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/Animated-Type-Heading.css' %}">
    <link rel="stylesheet" href="{%static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/Footer-Dark.css' %}">
</head>

<body id="promo">
    <div id="app">
        <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md" 
        style="
            background-color: #3E3F3A !important;
            line-height: 1.4285em;
            font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-size: 40px;">
                    <i class="fas fa-car-crash"></i>
                    <strong>Safety </strong>Map
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto" style="filter: hue-rotate(0deg) sepia(0%);margin: 100;">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#" style="font-size: 20px;">
                                Главная страница
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="{% url 'inform'%}"
                            v-if='!logged'
                            style="font-size: 20px;">
                                О проекте
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" :href="{% url 'graph' %}  + '?logged=' + logged" style="font-size: 20px;">
                                Статистика
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" :href="{% url 'map' %} + '?logged=' + logged" style="font-size: 20px;">
                                Карта
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="{% url 'about' %}"
                            v-if="!logged"
                            style="font-size: 20px;">
                                О нас
                            </a>
                        </li>
                        <li class="nav-item ml-2" role="presentation" v-if="logged">
                            <i id="exit" class="fas fa-sign-out-alt fa-2x nav-link" 
                            style="cursor: pointer;"
                            @click="logged = ''"></i>
                        </li>
                    </ul>
            </div>
            </div>
        </nav>

        <!-- If unlogged -->
    <div v-if="!logged">

        <!-- Hack Logo -->
    <img src="https://static.tildacdn.com/tild3833-3739-4061-b031-633635393562/_1.svg"
    class="float-left"
    style="
        height: 200px; 
        width: 200px;
        margin-left: 60px;
        ">

        <!-- Log in -->
    <div v-if="!logged" style="font-family: Arial, Helvetica, sans-serif;">
        <div class="jumbotron mt-4">
            <h1>Анализатор дорожно-транспортных приложений</h1>
            <p>Данный проект создан при поддержке Военного-научного общества Академии им. А.Ф. Можайского&nbsp;</p>
            <p><a class="btn btn-primary" onclick="show('block')">Войти в аккаунт</a></p>
        </div>

        <div onclick="show('none')" id="gray" style="opacity: 0.7; padding: 15px;
        background-color: rgba(1,1,1,0.6); position: fixed; left: 0; right: 0; top:0; bottom: 0; display: none; z-index:100; overflow: auto;"></div>
        <div id="window" class='primary-border' style= "width: 350px; height: 320px; margin: 40px auto;  background: #fff; border-radius: 15px; z-index: 150; display: none; position: fixed; left: 0; right: 0; top:0; bottom: 0;">
            <div class="form" style="width: 275px; margin: 0 auto 20px auto; text-align: center;">
                <h2>Регистрация</h2>
                <form action="index.html" name="f1">
                    <input v-model="login" type="login" placeholder="Login" name="login" class="input" style="width: 260px;padding: 5px; margin-bottom: 10px;">
                    <input v-model="password" type="password" placeholder="Password" name="pass1" class="input" style="width: 260px;padding: 5px; margin-bottom: 10px;">
                    <a class="btn btn-light" @click="log_in(); show('none');"
                    style="font-family: 'Roboto'sans-serif;width: 260px;padding: 5px; margin-bottom: 10px;">
                        Войти в аккаунт
                    </a>
                    Нажимая «Войти», вы подтверждаете, что прочитали и согласны с нашими Условиями Пользования и Политикой Конфиденциальности.
                </form>
            </div>
        </div>
    </div>

    <div class="container site-section" id="welcome">
        <h1 class="shadow-lg" style="color: rgb(194,213,232);/*border-radius: 14px; display: table; margin: 0 auto 0 auto;"> Машинное обучение</h1>
        <p class="text-center" data-aos="fade-left" data-aos-duration="700" style="color: rgb(244,244,244);filter: blur(0px) brightness(200%) contrast(200%);font-size: 21px;">В основе проекта лежит безумное желание создать благоприятные условия для жизни каждого человека, знания области MLearning и сплоченная команда. Теперь Мы готовы представить вам наш продукт.</p>
    </div>

    <div class="container" id="why" style="color: #dce6ee;">
        <div class="caption v-middle text-center">
					<h1 class="cd-headline clip">
			            <span class="cd-words-wrapper">
			              <b class="is-visible">Почему мы?</b>
			              <b>Современные технологии.</b>
			              <b>Молодые специалисты.</b>
                          <b>Этого недостаточно?</b> 
			            </span>
	          		</h1>
		</div>
        <div class="row">
            <div class="col-4 col-xl-4">
                <h3 style="color: #dce6ee;">Cкорость</h3><i class="icon ion-ios-pulse-strong" style="font-size: 32px;"></i>
                <p style="color: rgb(255,255,255);">Мы впервые предлагаем детальный разбор всех ДТП и путей решений проблем в формате онлайн&nbsp;</p>
            </div>
            <div class="col-4">
                <h3 style="color: #dce6ee;">Точность&nbsp;</h3><i class="icon ion-android-checkbox-outline" style="font-size: 27px;"></i>
                <p style="color: rgb(200,209,218);">Специальноразработаная математическая модель позволяет с максимальной точностью находить слабые места города, что не под силу людям делать в ручную</p>
            </div>
            <div class="col-4">
                <h3 style="color: #dce6ee;">Значимость</h3><i class="fa fa-university" style="font-size: 21px;"></i>
                <p style="color: rgb(200,209,218);">Безопасность - основа социального благополучия граждан, и важный фактор в оценке деятельности органов управления</p>
            </div>
        </div>
    </div>

    </div>
    <!-- If admin logged -->
    <div v-else-if='logged === "admin"'>
        <a class="btn btn-primary" v-if="!display_create_user" @click="display_create_user = true">Создать пользователя</a>
        <div class="container justify-content-center" v-if="display_create_user">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Введите имя пользователя" v-model="user_name">
                <input type="text" class='form-control' placeholder="Введите пароль" v-model="user_passwd">
                <input type="text" :class="['form-control', 'border', {'border-danger': !valide_password}, {'border-success': valide_password}]"
                placeholder="Подтвердите пароль" @change="validate" v-model="control_passwd">
                <a class="btn btn-primary" @click="register_user">Создать пользователя</a>
            </div>
        </div>
    </div>

    <!-- Logos -->
    <div class="row justify-content-center m-4">
        <div class="col-1 px-0">
            <img src="https://thumb.tildacdn.com/tild3533-3337-4666-b239-356330393939/-/resize/200x/-/format/webp/2.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="https://thumb.tildacdn.com/tild3436-6133-4736-b264-633061393361/-/resize/200x/-/format/webp/__2png_1.png" style="height: 100px; width: 100px">
        </div>
        <div class="col-1 px-0">
            <img src="https://static.tildacdn.com/tild6237-3438-4030-a333-393338653666/9.png" style="height: 100px; width: 100px">
        </div>
    </div>
    
    <div class="footer-dark" style="padding: 0px 0px;">
        <footer>
            <div class="container">
                    <div class="col-md-12 col-sm-4 item social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://t.me/lamer_notes"><i class="fab fa-telegram-plane"></i></a>
                        <a id="inst" href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <p class="copyright">CVD Team 2020</p>
        </footer>
    </div>
    </div>

    <style>
        .regButton:hover {
            background: #aaa;
        }
    </style>
    <script>
        function show(state) {
            document.getElementById('window').style.display = state;
            document.getElementById('gray').style.display = state;
        }
    </script>

    <script>
        Vue.options.delimiters = ['[[', ']]'];
    
        var app = new Vue({
            el: '#app',
    
            data: {
                user: false,
                admin: false,
                logged: '',

                login: 'admin',
                password: 'password',

                // for admin_board
                display_create_user: false,
                user_name: '',
                user_passwd: '',
                control_passwd: '',
                valide_password: true
            },

            created: function() {
                this.logged = window.location.href.split("?")[1].split('=')[1];
            },

            methods: {
                log_in() {
                    axios({
                        method: 'post',
                        url: "./login", 
                        data: {
                            login: this.login,
                            password: this.password
                        }
                    }).then((response) => {
                        if(response.data == 'admin'){
                            this.admin = true;
                            this.logged = 'admin';
                            document.location.href = './map?logged=admin';
                        }
                        if(response.data == 'user'){
                            this.user = true;
                            this.logged = 'user';
                            document.location.href = './map?logged=user';
                        }
                    });
                },

                validate() {
                    if ((this.control_passwd != '')&&(this.control_passwd != this.user_passwd)) {
                        this.valide_password = false;
                    }
                    else {
                        this.valide_password = true;
                    }
                },

                register_user() {
                    this.validate();
                    console.log('here');
                    if (this.valide_password) {
                        this.display_create_user = false;
                        axios({
                            method: 'post',
                            url: "./create-user", 
                            data: {
                                username: this.user_name,
                                password: this.user_passwd
                            }
                        });
                    }
                }
            }
        })
    </script>

    <script src="{% static 'main/js/jquery.min.js' %}"></script>
    <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="{% static 'main/js/Animated-Type-Heading.js' %}"></script>
</body>

</html>