#footerpad {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #000000;
}

a:focus, a:hover {
  color: #0085A1;
}

h2, .h2 {
  margin-bottom: 200px;
}

body {
  background-color: rgb(223,214,214);
}

.col.col-md-5 {
  color: #dfd6d6;
  background-color: #dfd6d6;
}

.graphic {
  background-color: #fff;
  color: #fff;
  height: 400px;
  border-radius: 20px;
}

.row {
  margin: 40px;
}

.btn.btn-primary.dropdown-toggle {
  width: 100%;
  margin-top: 10px;
  color: #ffffff;
  background-color: #425f62;
}

