#footerpad {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #000000;
}

a:focus, a:hover {
  color: #0085A1;
}

h2, .h2 {
  margin-bottom: 200px;
}

body {
  background-color: rgb(223,214,214);
}

